.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.qrContainer {
  background-color: #000!important;
}

.button {
  width: 100%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
