.container {
  display: flex;
  border: 2px solid #fff;
  margin-top: 20px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.image {
  height: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.title {
  font-size: 1.8rem;
}

.description {
}

.validityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
