.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.mainContent {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.title {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
